<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <header>
      <a href="/" >
        <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
      </a>
    </header>
      <h1>Your Completed Activities:</h1>
      <div class= "newDiv">
        <a href="/activities/new">
          <img src= "https://cdn-icons-png.flaticon.com/512/4100/4100473.png" width= "9%" class= "new">Add a New Activity that you Completed!
        </a>
      </div>
      <h3>You or your parent can delete the activity once you receive your reward.</h3>
      <table>
        <tr>
          <th>Day:</th>
          <th>Description:</th>
          <th>Time Spent:</th>
          <th>Points Earned:</th>
        </tr>
        <tr><% for(let i = 0; i < activitiesX.length; i++){
          %>
          <td><%=activitiesX[i].day%></td>
          <td><a href= "/activities/<%=activitiesX[i].id%>" class= "descriptionList">
            <%=activitiesX[i].description%></a>
          </td>
          <td><%=activitiesX[i].timeSpent%> minutes
          </td>
          <td><%=activitiesX[i].points%> minutes
          </td>
          <td>
            <form action = "/activities/<%=activitiesX[i].id%>?_method=DELETE" method="POST">
            <input type= "submit" value="ERASE" class="erase"/>
            </form>
          </td>
        </tr>
        <% } %>
      </table>
  </body>
</html>
