<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet" font-family: 'Pokemon Solid', sans-serif>
  </head>
  <body>
     <h1>Edit Pokemon</h1>
     <form action ="/pokemon/<%=pokemonX._id%>?_method=PUT" method = "POST">
        Name: <input type="text" name="name" value="<%=pokemonX.name%>"/>
        <br/>
        Type: <input type="text" name="type" value="<%=pokemonX.color%>"/>
        <br/>
        Stats: <input type="text" name="type" value="<%=pokemonX.stats%>"/>
        <br/>
        Moves: <input type="text" name="type" value="<%=pokemonX.moves%>"/>
        <br/>
        Damages: <input type="text" name="type" value="<%=pokemonX.damages%>"/>
        <br/>
        <input type="submit" value="Submit Changes">
     </form>
  </body>
</html>
