<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Edit this Completed Activity!</h1>
    <form action ="/activities/<%=activitiesX.id%>?_method=PUT" method = "POST" class="input">
       Date/Time of the Activity: <input type="text" name="dateTime" class= "inputField" value="<%=activitiesX.dateTime%>"/>
       <br/>
       Description of the Activity: <input type="text" name="description" class= "inputField" value="<%=activitiesX.description%>"/>
       <br/>
       Time Spent on the Activity: <input type="text" name="timeSpent" class= "inputField" value="<%=activitiesX.timeSpent%>"/> minutes
       <br/>
       <input type="submit"  class= "submit" value="Save Changes">
    </form>
  </body>
  <footer>
    <a href="/" >
      <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
    </a>
  </footer>
</html>
