<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Edit this Completed Activity!</h1>
    <form action ="/activities/<%=activitiesX.id%>?_method=PUT" method = "POST">
       Date: <input type="text" name="dateTime" value="<%=activitiesX.dateTime%>"/>
       <br/>
       Description: <input type="text" name="description" value="<%=activitiesX.description%>"/>
       <br/>
       Time Spent on the Activity: <input type="text" name="timeSpent" value="<%=activitiesX.timeSpent%>"/> minutes
       <br/>
       <input type="submit" value="Submit Changes">
    </form>
  </body>
  <footer>
    <a href="/" >
      <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
    </a>
  </footer>
</html>
