<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body>
    <h1>Completed Activity:</h1>
    <table>
      <tr>
        <th>Date/Time:</th>
        <th>Description:</th>
        <th>Time Spent:</th>
      </tr>
      <tr>
        <td><%=activitiesX.dateTime%></td>
        <td><%=activitiesX.description%></td>
        <td><%=activitiesX.timeSpent%>minutes</td>
        <td>
          <form action = "/activities/<%=activitiesX.id%>/edit"> <input type= "submit"  class= "submit" value="EDIT"/>
        </td>
  </body>
  <footer>
    <a href="/" >
      <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
    </a>
  </footer>
</html>
