<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%-include('./partials/head.ejs')%>
  </head>
  <body class= "showPage">
    <h1>Completed Activity:</h1>
      </br>
      Date/Time of Activity: <%=activitiesX.dateTime%>
      <br/>
      Description of Activity: <%=activitiesX.description%>
      </br>
      Time Spent on the Activity: <%=activitiesX.timeSpent%> minutes
      </br>
    <form action = "/activities/<%=activitiesX.id%>/edit"> <input type= "submit" value="EDIT"/>
  </body>
  <footer>
    <a href="/" >
      <img src="https://freesvg.org/img/Simple-House-Line-Art.png" alt="house" class="indexButton">
    </a>
  </footer>
</html>
